<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="main-div">
        <!-- page no1: firstpage starting -->

        <div class="first-div">
            <div class="head-div" style="font-style: normal;">
                <div class="img-div">
                    <div>
                        <img src="{% static 'img/movie-reel.png' %}"> 
                    </div>        
                  <b id="logo">GET TICKET</b>
                </div>
                <a href="{% url 'homepage' %}"><b>Home</b></a>
                <a href="{% url 'aboutpage' %}"><b>About</b></a>
                {% if user.is_authenticated %}
                <a href="{% url 'logoutpage' %}">Logout</a>
                {% else %}
                <a href="{% url 'loginpage' %}">Login</a>
                <a href="{% url 'registerpage' %}">Register</a>
                {% endif %}

                

            </div>

            <div class="body-div" style="background-image:url({% static 'img/mainbody.jpg' %});color: aliceblue;">
                


                <div>
                <center>
                    <b style="text-shadow:2px 2px 4px black;font-style:normal;">
                        Book Your Seat
                    </b>
                    <p>
                        Watching a cinema in a theater is magic.<br>
                        We the POP MOVIE provides that magic by providing<br> fiar pricing, comfortable theater experience and good services.<br>
                            <br>
                        Register to book your ticket<br>
                        By clicking the button down below.
                        </p>
                        <a href="{% url 'registerpage' %}">
                    <button>
                    SignUp
                    </button></a>
                </center>           
                </div>
            </div>
        </div>

        <!-- firstpage ended -->

        <!-- secondpage started -->
        <div class="second-div"style="color: aliceblue">

            <div class="head2-div">
                <center>
                    <h2>TODAY'S MOVIES</h2>
                    
                </center>
            </div>
        
        <div class="body2-div">
            <div class="products-div">
               {% for i in pro %}
                <div class="product">
                <center>
                    <img src="{{i.img.url}}" alt="Image">
                    <h3>{{i.name}}</h3>
                    <a href="{% url 'detailspage' %}?id={{i.id}}">
                    
                    <button type="submit" class="button"><b>View</b></button></a>
                </center> 
                </div>
                {% endfor %}  
            </div>

        
        </div>
        <!-- secondpage ended -->
        
        <!-- footer starts-->
        <!-- thirdpage starts-->
        <div class="third-div">
        
            <div class="icon-div">
                <h2>Book Society</h2>
                <a href="#"></a><img src="{% static 'img/icons8-facebook-100.png' %}"></a>
                
                <a href="#"></a><img src="{% static 'img/icons8-instagram-100.png' %}"></a>
            
                <a href="#"></a><img src="{% static 'img/icons8-twitter-100.png' %}"></a>
           
                <a href="#"></a><img src="{% static 'img/icons8-gmail-logo-100.png' %}"></a>
            </div>

            <div class="footer-center">
                <ul>
                    <li> <b>Support</b></li>      
                    <li>Contact us</li>    
                    <li> FAQ</li>
                    <li>  Downloads</li>
                    <li> Location</li>
                    <li> About us</li>       
                </ul>

            </div>


           

        </div>
    
    
    
    
    
    </div>
</body>

</html>